// Colours
$c_background: #24273a; // Macchiato Crust
$c_text: #eff1f5; // Latte Base
$c_link:  #8aadf4; // Macchiato Blue
$c_link-visited: #c6a0f6; // Macchiato Mauve
$c_link-hover: #91d7e3; // Macchiato Sky
$c_link-active: #f5a97f; // Macchiato Peach;

// Rainbow
$c_rainbow-gradient: repeating-linear-gradient(90deg, #ed8796, #f5a97f, #eed49f, #a6da95, #8aadf4, #c6a0f6);
// Red, Peach, Yellow, Green, Blue, Mauve
