// Colours
@mixin light {
    --c_background: #eff1f5; // Latte Base
    --c_text: #303446; // Frappe Base
    --c_link:  #1e66f5; // Latte Blue
    --c_link-visited: #8839ef; // Latte Mauve
    --c_link-hover: #04a5e5; // Latte Sky
    --c_link-active: #fe640b; // Latte Peach;
    
    // Rainbow
    --c_rainbow-gradient: repeating-linear-gradient(90deg, #d20f39, #fe640b, #ddad1d, #40a02b, #1e66f5, #8839ef);
    // Red, Peach, Yellow, Green, Blue, Mauve
}

@mixin dark {
    --c_background: #24273a; // Macchiato Crust
    --c_text: #eff1f5; // Latte Base
    --c_link:  #8aadf4; // Macchiato Blue
    --c_link-visited: #c6a0f6; // Macchiato Mauve
    --c_link-hover: #91d7e3; // Macchiato Sky
    --c_link-active: #f5a97f; // Macchiato Peach;

    // Rainbow
    --c_rainbow-gradient: repeating-linear-gradient(90deg, #ed8796, #f5a97f, #eed49f, #a6da95, #8aadf4, #c6a0f6);
    // Red, Peach, Yellow, Green, Blue, Mauve
}


