body {
  --c_background: #eff1f5;
  --c_text: #303446;
  --c_link: #1e66f5;
  --c_link-visited: #8839ef;
  --c_link-hover: #04a5e5;
  --c_link-active: #fe640b;
  --c_rainbow-gradient: repeating-linear-gradient(90deg, #d20f39, #fe640b, #ddad1d, #40a02b, #1e66f5, #8839ef);
}

body.dark {
  --c_background: #24273a;
  --c_text: #eff1f5;
  --c_link: #8aadf4;
  --c_link-visited: #c6a0f6;
  --c_link-hover: #91d7e3;
  --c_link-active: #f5a97f;
  --c_rainbow-gradient: repeating-linear-gradient(90deg, #ed8796, #f5a97f, #eed49f, #a6da95, #8aadf4, #c6a0f6);
}

@media (prefers-color-scheme: dark) {
  body {
    --c_background: #24273a;
    --c_text: #eff1f5;
    --c_link: #8aadf4;
    --c_link-visited: #c6a0f6;
    --c_link-hover: #91d7e3;
    --c_link-active: #f5a97f;
    --c_rainbow-gradient: repeating-linear-gradient(90deg, #ed8796, #f5a97f, #eed49f, #a6da95, #8aadf4, #c6a0f6);
  }
  body.light {
    --c_background: #eff1f5;
    --c_text: #303446;
    --c_link: #1e66f5;
    --c_link-visited: #8839ef;
    --c_link-hover: #04a5e5;
    --c_link-active: #fe640b;
    --c_rainbow-gradient: repeating-linear-gradient(90deg, #d20f39, #fe640b, #ddad1d, #40a02b, #1e66f5, #8839ef);
  }
}
p, h1, h2, li, sub, button {
  color: var(--c_text);
}

body {
  background-color: var(--c_background);
}

a {
  color: var(--c_link);
}
a:visited {
  color: var(--c_link-visited);
}
a:hover {
  color: var(--c_link-hover);
}
a:active {
  color: var(--c_link-active);
}

#header {
  border-bottom: 2px solid var(--c_text);
}
#header #nav {
  color: var(--c_text);
}
#header h1:hover {
  background-image: var(--c_rainbow-gradient);
  background-clip: text;
  color: transparent;
}

#footer {
  border-top: 1px solid var(--c_text);
}

body {
  font-family: monospace;
  max-width: 900px;
  margin: 5px auto;
  padding: 0px 5px;
}

#page-title {
  font-size: 54px;
  margin: 8px 0px 11px 0px;
}

p {
  font-size: 18px;
  margin-left: 6px;
  margin-top: 11px;
}

ul {
  padding-left: 20px;
  margin-top: 11px;
}

li {
  font-size: 18px;
}

#header {
  display: grid;
  grid-template-columns: auto 1fr;
  padding-bottom: 3px;
}
#header h1, #header a {
  margin: 0px 7px;
}
#header #nav {
  display: flex;
  justify-content: end;
  font-size: 26px;
}
#header #nav a {
  text-decoration: none;
}

@media only screen and (max-width: 650px) {
  #header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #header h1 {
    text-align: center;
  }
  #header #nav {
    justify-content: center;
  }
}
#content {
  margin-left: 7px;
}

#footer {
  display: grid;
  grid-template-rows: auto auto;
  padding-top: 3px;
  padding-bottom: 50px;
}
#footer #webring {
  display: grid;
  grid-template-columns: 1fr auto auto auto 1fr;
  justify-content: center;
}
#footer #webring p {
  font-size: 12px;
  margin: 0px 11px;
}
#footer #webring #theme-toggle {
  background: none;
  border: none;
  width: 24px;
}
#footer #icon {
  display: inline-flex;
  justify-self: center;
  image-rendering: pixelated;
  padding-top: 4px;
}

.subtitled-image {
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
  align-content: end;
  margin-bottom: 15px;
  margin-right: 7px;
}
.subtitled-image img {
  max-width: 100%;
}
.subtitled-image sub {
  font-size: 12px;
  margin-top: 4px;
}
