// Colors
@use 'colors';

body {
    @include colors.light;
}
body.dark {
    @include colors.dark;
}

@media (prefers-color-scheme: dark) {
    body {
        @include colors.dark;
    }
    body.light {
        @include colors.light;
    }
}

p, h1, h2, li, sub, button {
    color: var(--c_text);
}
body {
    background-color: var(--c_background);
}
a {
    color: var(--c_link);
    &:visited {
        color: var(--c_link-visited);
    }
    &:hover {
        color: var(--c_link-hover);
    }
    &:active {
        color: var(--c_link-active);
    }
}
#header {
    border-bottom: 2px solid var(--c_text);
    & #nav {
        color: var(--c_text);
    }
    & h1:hover {
        background-image: var(--c_rainbow-gradient);
        background-clip: text;
        color: transparent;
    }
}
#footer {
    border-top: 1px solid var(--c_text);
}

// Global Formatting
body {
    font-family: monospace;
    max-width: 900px;
    margin: 5px auto;
    padding: 0px 5px;
}

// Font Formatting
#page-title {
    font-size: 54px;
    margin: 8px 0px 11px 0px;
}
p {
    font-size: 18px;
    margin-left: 6px;
    margin-top: 11px;
}

ul {
    padding-left: 20px;
    margin-top: 11px;
}
li {
    font-size: 18px;
}

// Header styling
#header {
    display: grid;
    grid-template-columns: auto 1fr;
    padding-bottom: 3px;
    & h1, a {
        margin: 0px 7px;
    }
    & #nav {
        display: flex;
        justify-content: end;
        font-size: 26px;
        & a {
            text-decoration: none;
        }
    }
}
@media only screen and (max-width: 650px) {
    #header {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        & h1 {
            text-align: center;
        }
        & #nav {
            justify-content: center;
        }
    }
}

// Page styling
#content {
    margin-left: 7px;
}

// Footer styling
#footer {
    display: grid;
    grid-template-rows: auto auto;
    padding-top: 3px;
    padding-bottom: 50px;
    & #webring {
        display: grid;
        grid-template-columns: 1fr auto auto auto 1fr;
        justify-content: center;
        & p {
            font-size: 12px;
            margin: 0px 11px;
        }
        & #theme-toggle {
            background: none;
            border: none;
            width: 24px;
        }
    }
    & #icon {
        display: inline-flex;
        justify-self: center;
        image-rendering: pixelated;
        padding-top: 4px;
    }
}

// Extra content styling
.subtitled-image {
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
    align-content: end;
    margin-bottom: 15px;
    margin-right: 7px;
    & img {
        max-width: 100%;
    }
    & sub {
        font-size: 12px;
        margin-top: 4px;
    }
}

