<div id="footer">
    <div id="webring">
        <button id="theme-toggle" title="toggle theme">◐</button>
        <script src="../include/scripts/theme-toggle.js" type="text/javascript"></script>
        <p><a href="https://jay.nekoweb.org/" title="blueJay" alt="external link: previous webring site">&#60;-- blueJay</a></p>
        <p>part of the <a href="https://berry.nekoweb.org" title="berry webring" alt="external link: webring index page" >berry webring</a></p>
        <p><a href="https://pinhead.dev" title="pinhead" alt="external link: next webring site">pinhead --&#62;</a></p>
    </div>
    <img id="icon" src="include/assets/ico.png" alt="zicti icon" >
</div>
