<div id="header">
    <h1>timayo.gay</h1>
    <div id="nav">
        <a href="/" title="home" alt="home page" >home</a>
        /<a href="/about.html" title="about" alt="about page" >about</a>
        /<a href="/stuff.html" title="stuff" alt="stuff page" >stuff</a>
        /<a href="/contact.html" title="contact" alt="contact page" >contact</a>
        <!-- /<a href="/library.html" title="library" alt="library page" >library</a> --> 
    </div>
</div>
